
<div>
    <button (click)='showCreateWorkoutModal()' class="btn btn-primary mx-auto" >create workout</button>
</div>
<div class="w-100">
    <div   *ngFor='let workout of workouts' class="m-2 p-2 rounded border-light shadow" style="background-color: #000000cd; color: white;">
        <div *ngIf="workout.poster.id === profile_id || is_admin" (click)='clickOnOptionMenu($event)' ngbDropdown class="float-right">
                <i class="bi bi-three-dots btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle></i>

                <div  ngbDropdownMenu class="options" aria-labelledby="dropdownBasic1">
                <button (click)='deleteWorkout($event, workout.id)' ngbDropdownItem>Delete workout</button>
                </div>
        </div>
        <div class="row">
                <div class="col-10 col-lg-5 ml-2">
                        <h3>{{workout.title}}</h3>
                        <p>{{workout.description}}</p>
                </div>
                <div class="col-10 col-lg-5 text-center my-auto">
                        <button (click)='goToWorkout(workout.id)' class="btn btn-outline-success">Run Workout</button>
                </div>
        </div>
        
    </div>
    <div class="text-center">
        <a class="btn btn-primary text-light m-3" (click)='moreWorkouts()'>More</a>
    </div>
</div>
<!-- <div class="blurDiv"></div> -->

<ng-template    #createWorkoutModal let-modal>
    <div class="modal-header" >
        <h4 class="modal-title"  id="modal-basic-title">Workout Creation</h4>
        <div>
                <button type="button" style="margin-right: 10px" class="btn btn-danger" (click)="modal.close('cancle click')">Close</button>
                <button type="button" [disabled]='form.invalid' class="btn btn-success" (click)="createTeamWorkout(form)">Create</button>
        </div>
    </div>
    <div class="modal-body bg-light">
        <form #form='ngForm' class="formWorkout">
            <div class="bodyModalSection row h-100">
                    <div class="bodySectionLeft col-11 col-md-8 col-lg-4">
                            <div class="titleCreationDiv">
                                    <label >Title :</label>
                                    <input #title='ngModel' ngModel name="title" type="text" required>
                            </div>
                            <div class="titleCreationDiv">
                                    <label >Description : </label>
                                    <textarea #description='ngModel' ngModel name="description" required class="description"  rows="7"></textarea>
                            </div>
                    </div>
                    <div class="bodySectionRight col-12 col-lg-7 col-sm-12">
                        <div  class="border bg-dark text-light m-2 p-2" *ngFor='let exercise of exercises' style="border-radius: 30px;">
                            <input ngModel name="c{{exercise.id}}" type='checkbox' class="float-left m-1">
                            <div class="row">
                                    <div class="col-6">
                                            <img class='w-100'  [src]="exercise.gif" >
                                    </div>
                                    <div class="col-6">
                                            <div> <label>title:</label><br> {{exercise.title}}</div>
                                            <div class="m-2"> <label>description:</label><br> {{exercise.description}}</div>
                                    </div>
                                    <div class="col-12">
                                            <div class="">
                                                    <label>num of sets:</label><br>
                                                    <input ngModel name="s{{exercise.id}}" class="" value="10" type="number">
                                            </div>

                                            <div class="">
                                                    <label>Duration:</label><br>
                                                    <input ngModel name="d{{exercise.id}}" class="" value="20" type="number">
                                            </div>

                                            <div class="">
                                                    <label>Rest Duration:</label><br>
                                                    <input ngModel name="r{{exercise.id}}" class="" value="20" type="number">
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>

    </div>

</ng-template>

