<div class="row m-2">
  <div class="col-12 col-lg-7 container mt-3 mx-auto rounded shadow border border-primary" style="background-color: #000000cd;">
  
    <div *ngIf="post.poster.id == myProfile.id" (click)='clickOnOptionMenu($event)' ngbDropdown class="float-right">
            <i class="bi bi-three-dots btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle></i>

            <div  ngbDropdownMenu class="options" aria-labelledby="dropdownBasic1">
                <button (click)='deletePost()' ngbDropdownItem>Delete</button>
            </div>
    </div>

    <div class="text-light border-bottom border-light p-1 m-1">
      <a (click)="goToProfile(post.poster.id)">
        <img class="rounded-circle" src="{{ post.poster_data.image }}" style="width: 13%; border: solid 3px #0dc8ee">
        <span class="mx-2">{{ post.poster_data.name }}</span>
        <span class="m-1 float-right">
                <i class="bi bi-watch"></i>
                <span>{{ DateDiff.diff(DateDiff.toDate(post.date), DateDiff.now()) }}</span>
        </span>
      </a>
    </div>
  
    <div class="m-1 text-light">
      <div #secondSectionOfPost class="container row" >
        <div class="col-10 mx-auto">
          <h3 class="text-center">{{ post.title }}</h3>
          <p #content id='content' [class.hideElement]="post.content==''" class="content" >
            {{post.content}}
          </p>
        </div>
        <div class="col-10 mx-auto">
          <img class="w-100" [src]="post.images[0]" alt="">
        </div>
    </div>

    <hr class="border-light">


    <div class="row text-center text-light" style="font-size: xx-large;"> 
      <div class="col-6">
          <span class="">{{post.like.likes}}</span>
          <button class="btn" style="font-size: xx-large;">
            <i (click)="like_unlike()" [ngClass]="{'text-light': !post.like.isLiked, 'text-primary': post.like.isLiked}" class="bi bi-hand-thumbs-up"></i>
          </button>
        </div>
      <div class="col-6">
        <span class="">{{msg}}</span>
        <button class="btn" style="font-size: xx-large;">
          <i (click)='showComment(post.id)' class="text-light bi bi-chat-fill"></i>
        </button>
      </div>
    </div>

    <div>
      <app-add-comments [post]="post" (callParent)="getMsgFromBaby($event)"></app-add-comments>
    </div>

  </div>
</div>


