
<div class="container text-center w-75 m-auto" style="background-color:  #539cbbc6;">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <img  class="user my-3" width="200" src="../assets/personal-user.png" >
    <div class="form-group">
      <input type="email" class="form-control" #email='ngModel' ngModel name="email" placeholder="Email :" required email>
      <p *ngIf='email.errors?.required&&email.touched' class="alert alert-danger">email is required !!</p>
      <p *ngIf='email.touched&&email.errors?.email' class="alert alert-danger">this input isn't email !!</p>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" #password='ngModel' ngModel name="password" placeholder="Password" required minlength="6">
      <p *ngIf='password.errors?.required&&password.touched' class="alert alert-danger">password is required !!</p>
      <p *ngIf='password.touched&&password.errors?.minlength' class="alert alert-danger">password length is less than 6 </p>
    </div>
    <button id="submit" type="submit" class="btn w-75" [disabled]='form.invalid'>Submit</button>
    <div class="container text-center">
      do'nt have account? <a class="text-dark alert-link" routerLink="/signup">click here</a>
    </div>
  </form>
</div>



<!-- 
<div>
    <form #form='ngForm' (ngSubmit)='onSubmit(form)' >
        <div class="login m-auto">
          <div class="container text-center">
            <a class="btn text-dark" routerLink="/signup">do'nt have account? click here</a>
          </div>
          <img  class="user" src="../assets/user.png" >
            <input type="email" #email='ngModel' ngModel name="email" placeholder="Email :" required email>
          <p *ngIf='email.errors?.required&&email.touched' class="error">email is required !!</p>
          <p *ngIf='email.touched&&email.errors?.email' class="error">this input isn't email !!</p>
          <input type="password" #password='ngModel' ngModel name="password" placeholder="Password" required minlength="6">
          <p *ngIf='password.errors?.required&&password.touched' class="error">password is required !!</p>
          <p *ngIf='password.touched&&password.errors?.minlength' class="error">password length is less than 6 </p>
        </div>
        <button style="color: white;" [disabled]='form.invalid'  type="submit"  >Log in</button>
    </form>
</div> -->

<!-- <div class="blurDiv"></div> -->
